{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
<h2 class="text-info">Log In...</h2>
<br>
<form class="text-primary" method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit">Log In</button>
</form>
<br>
<a href="{% url 'password_reset' %}">Forgot your password?</a>
{% endblock content %}