{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Forgot Your Password?{% endblock title %}

{% block content %}
<h2 class="text-info">Forgot your password?</h1>

<p class="text-primary">
  Enter your email address below, and we'll email you instructions for setting a new one.
</p>

<form class="text-primary" method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <input class="btn btn-success" type="submit" value="Send me instructions!">
</form>
{% endblock content %}

