{% extends "base.html" %}

{% block title %}Email Sent{% endblock title %}

{% block content %}
  <h2 class="text-info">Check your inbox.</h2>
  <p class="text-primary">We've emailed you instructions for setting your password.
    You should receive the email shortly!</p>
{% endblock content %}

