{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Password Change
{% endblock title %}

{% block content %}
  <h2 class="text-info">Password Change</h2>
  <p class=text-primary>Please enter your old password, for security's sake, and then enter your
  new password twice so we can verify you typed it in correctly.</p>
  
  <form class="text-primary" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success" type="submit" value="Change my password">
  </form>
{% endblock content %}