{% extends "base.html" %}

{% block title %}Password Change Successful{% endblock title %}

{% block content %}
  <h2 class="text-info">Password change successful</h2>
  <p class="text-info">Your password has changed.</p>
{% endblock content %}