{% extends "base.html" %}

{% block title %}Password reset complete{% endblock title %}

{% block content %}
  <h2 class="text-info">Password reset complete</h2>
  <p class="text-primary">Your new password has been set. You can log in now on the
  <a href="{% url 'login' %}">login page</a>.</p>
{% endblock content %}