{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Enter new password{% endblock title %}

{% block content %}
  <h2 class="text-info">Set a new password...</h2>
  <form class="text-primary" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success" type="submit" value="Change my password">
  </form>
{% endblock content %}