{% extends parent_template|default:"devices/base_devices.html" %}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }} - Create a New Device
{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
<form class="" action="{% url 'devices:device_create' %}" method="post" novalidate>
  {% csrf_token %}
  {{ form|crispy }}
<button class="btn btn-success" type="submit">Create New Device</button>    
</form>

{% endblock content %}