{% extends parent_template|default:"devices/base_devices.html" %}
{% block title %}
{{ block.super }} - Devices
{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
  <p>
    <h5><a href="{% url 'devices:device_create' %}">+Add a New Device</a></h5>
  </p>
  {% for device in device_list %}
  <p>
    <h3> 
      <a href="{{ device.get_absolute_url }}">{{ device.manufacturer|title}} {{ device.name|title}}</a>
      <a href="{% url 'devices:device_update' device.slug %}" class="btn btn-warning">Edit</a>
      <a href="{% url 'devices:device_delete' device.slug %}" class="btn btn-danger">Delete</a>
    </h3>
  </p>
  <p>
    {% empty %}
      <em class="text-info">No Devices Available...</em>
  </p>  
  {% endfor %}
{% endblock content %}