{% extends parent_template|default:"devices/base_devices.html" %}
{% block title %}
{{ block.super }} - {{ device.manufacturer|title}} {{ device.name|title}}
{% endblock title %} 

{% block css %}{% endblock css %}

{% block content %}
  <div class="container">
    <h3 class="text-info"> 
      {{ device.manufacturer|title}} {{ device.name|title}}
      <a href="{% url 'devices:device_update' device.slug %}" class="btn btn-warning">Edit</a>
      <a href="{% url 'devices:device_delete' device.slug %}" class="btn btn-danger">Delete</a>
    </h3>
    <hr>
  </div>
  <div class="container">
    <h5 class="text-success">Website: <a class=text-info href="{{ device.website }}" target="_blank">
      {{ device.website }}</a></h5>
  </div>
  <br>
  <div class=container>
    {% if device.policies.all %}
      <p>
        <h3 class="text-info">Polic{{ device.policies.count|pluralize:"y,ies"}}</h3>
        {% for policy in device.policies.all %}
          <h5>
            <li class="text-info list-group-item list-group-item-info">
              Policy {{ policy.id }}&nbsp;<a href="{{ policy.get_absolute_url }}" class="btn btn-info">Show</a>
            </li>
          </h5>
        {% endfor %}
      </p>
    {% else %}
      <p>
        <em class="text-info">No policies assigned to this device...</em> 
      </p> 
    {% endif %}
    <p>
      <h5><a href="{% url 'policies:policy_create' %}">+ Add a Policy</a></h5>
    </p>
  </div>
  <hr>
  <br>
  <div class="container">
    {% if device.macAddresses.all %}
      <p>
        <h3 class="text-info">MAC Address{{ device.macAddresses.count|pluralize:"es" }}</h3>
        {% for mac_address in device.macAddresses.all %}
          <h5><li class="text-info list-group-item list-group-item-info">{{ mac_address.mac_address }}&nbsp;
            <a href="{% url 'devices:macaddress_update' device.slug mac_address.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'devices:macaddress_delete' device.slug mac_address.pk %}" class="btn btn-danger">Delete</a></h5>
          </li>
        {% endfor %}
      </p>  
    {% else %}
    <p>
      <li class="text-info list-group-item list-group-item-info">
        <em class="text-info">No mac addresses assigned to this device...</em>
      </li> 
    </p>
    {% endif %}
    <p>
      <h5> <a href="{% url 'devices:macaddress_create' device.slug %}">+ Add a MAC Address</a></h5>
    </p>
  </div>  
{% endblock content %}

