{% extends parent_template|default:"devices/base_devices.html" %}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }} - Delete Device
{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
<form action="{% url 'devices:device_delete' device.slug %}" method="post">
  {% csrf_token %}
  <p>
    Are you sure you want to delete the device {{ device.name }}?
  </p>
  <a href="{{ device.get_absolute_url }}" class="btn btn-primary">Cancel</a>
  <button class="btn btn-danger" type="submit">Delete Device</button>  
</form>
{% endblock content %}