{% extends parent_template|default:"devices/base_devices.html" %}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }} - Update Device
{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
<form class="" action="{% url 'devices:device_update' device.slug %}" method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit" name="">Update Device</button>  
</form>

{% endblock content %}