{% extends parent_template|default:"devices/base_devices.html" %}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }} - Update MAC Address
{% endblock title %}

{% block css %}{% endblock css %}


{% block content %}
<form class="" action="{{ mac_address.get_update_url }}" method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit" name="">Update MAC Address</button>  
</form>

{% endblock content %}