{% extends parent_template|default:"devices/base_devices.html" %}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }} - Create a New MAC Address
{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
  <form  action="{% url 'devices:macaddress_create' slug %}" method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit">Create MAC Address</button>  
</form>
{% endblock content %}