{% extends parent_template|default:"devices/base_devices.html" %}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }} - Delete MAC Address
{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
<form action="{{ mac_address.get_delete_url }}" method="post">
  {% csrf_token %}
  <p>
    Are you sure you want to delete the mac address {{ mac_address.mac_address }}?
  </p>
  <a href="{% url 'devices:device_detail' slug %}" class="btn btn-primary">Cancel</a>
  <button class="btn btn-danger" type="submit">Delete MAC Address</button>  
</form>
{% endblock content %}