{% extends parent_template|default:"pages/pages_base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
<h3 class="text-info">At this website the manufacturers of the IoT devices have the ability to define the requirements and policies for their devices and the users of the platform can choose which one is more suitable to their needs. </h3>
<div class="container">
  <img src="../static/pages/images/iot_protection.jpg" alt="iot-image">
</div>
{% endblock content %}