{% extends parent_template|default:"pages/pages_base.html" %}

{% block title %}Homepage{% endblock title %}
{% block content %}
<h2 class="text-info">Welcome to RaspProtect!</h2>
{% if user.is_authenticated %}
  <p><h3 class="text-info">Hello, <span class="text-success">{{ user.username }}</span>!</h3></p>
  <form action="{% url 'logout' %}">
  <button class="btn btn-success" type="submit">
    Log Out
  </button>
</form>
{% else %}
  <p><h5 class="text-info">If you already have an account please log in, otherwise sign up to create a new account.</h5></p>
  <p>
    <a href="{% url 'login' %}" class="btn btn-success">Log In</a>
    <a href="{% url 'users:signup' %}" class="btn btn-success">Sign Up</a>
  </p>
{% endif %}
{% endblock content %}