{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Rasprotect{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://kit.fontawesome.com/705f104950.js" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  {% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock css %}
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">  
        <a href="{% url 'pages:homepage' %}" class="navbar-brand font-weight-bold"><span class="fas fa-home fa-2x fa-pull-left" style="color:white"></span></a>
        <a href="{% url 'pages:homepage' %}" class="navbar-brand font-weight-bold">RaspProtect</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav">
            <a href="{% url 'devices:devices' %}" class="nav-item nav-link">Devices</a>
            <a href="{% url 'policies:policies' %}" class="nav-item nav-link">Policies</a>
            <a href="{% url 'pages:about' %}" class="nav-item nav-link">About</a>
          </div>
          <div class="navbar-nav">
            {% block navblock %}
            {% endblock navblock %}
            {% if user.is_authenticated %}
              <span class="fas fa-user fa-2x fa-pull-left" style="color:green"></span>  
              <a href="{% url 'password_change' %}" class="btn btn-outline-success nav-link">Change Password</a>
              <a href="{% url 'logout' %}" class="btn btn-outline-success nav-link">Logout</a>
            {% else %}
              <span class="fas fa-user fa-2x fa-pull-left" style="color:green"></span> 
              <a href="{% url 'login' %}" class="btn btn-outline-success">Login</a>
              <a href="{% url 'users:signup' %}" class="btn btn-outline-success">Signup</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="jumbotron">
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
  <footer class="text-muted">
    <div class="container text-center">
      <p>©️ RaspProtect {% now "Y" %}</p>
    </div>
  </footer>
  <!-- JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
