{% extends parent_template|default:"policies/base_policies.html" %}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }} - Update Policy
{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
<form action="{{ policy.get_update_url }}" method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit">Update Policy</button>    
</form>

{% endblock content %}