{% extends parent_template|default:"policies/base_policies.html" %}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }} - Delete Policy
{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
<form class="" action="{% url 'policies:policy_delete' policy.pk %}" method="post">
  {% csrf_token %}
  <p>
    Are you sure you want to delete this policy?
  </p>
    <a href="{% url 'policies:policy_detail' policy.pk %}" class="btn btn-primary">Cancel</a>
  <button class="btn btn-danger" type="submit">Delete Policy</button>  
</form>
{% endblock content %}
