{% extends parent_template|default:"policies/base_policies.html" %}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }} - Create a New Policy
{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
<form action="{% url 'policies:policy_create' %}" method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit">Create Policy</button>    
</form>

{% endblock content %}