{% extends parent_template|default:"policies/base_policies.html" %}
{% block title %}
{{ block.super }} - Policies
{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
  <p>
    <h5><a href="{% url 'policies:policy_create' %}">+ Add a New Policy</a></h5>
  </p>
  {% for policy in policy_list %}
  <p>
    <h3 class="text-info"> 
      <a href="{{ policy.get_absolute_url }}">Policy {{ policy.pk}}</a>
        <a href="{{ policy.get_update_url }}" class="btn btn-warning">Edit</a>
        <a href="{{ policy.get_delete_url }}" class="btn btn-danger">Delete</a>
    </h3>
  </p>
  <p>
    {% empty %}
      <em class="text-info">No Policies Available...</em>
  </p>  
  {% endfor %}
{% endblock content %}
