{% extends parent_template|default:"policies/base_policies.html" %}
{% block title %}
{{ block.super }} - Policy {{ policy.pk}}
{% endblock title %} 

{% block css %}{% endblock css %}

{% block content %}
  <div class="container">
    <header>
      <h3 class="text-info">Policy {{ policy.pk }}
          <a href="{% url 'policies:policy_update' policy.pk %}" class="btn btn-warning">Edit</a>
          <a href="{% url 'policies:policy_delete' policy.pk %}" class="btn btn-danger">Delete</a>
      </h3>
  </header>
  </div>
  <hr>
  <div class="container">
    <table class="table table-striped table-dark">
      <tbody>
        <tr>
          <th class="text-info" scope="row">Destination IPs</th>
          <td class="text-success">{{ policy.perm_dest_ips }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-info">Destination Ports</th>
          <td class="text-success">{{ policy.perm_dest_ports }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-info">Destination Ports</th>
          <td class="text-success">{{ policy.perm_dest_ports }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-info">Max Size Packet</th>
          <td class="text-success">{{ policy.max_size_packet }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-info">Max Data Rate</th>
          <td class="text-success">{{ policy.max_data_rate }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-info">Starting Time</th>
          <td class="text-success">{{ policy.starting_time }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-info">Ending Time</th>
          <td class="text-success">{{ policy.ending_time }}</td>
        </tr>
        <tr>
          <th scope="row" class="text-info">Restriction Level</th>
          <td class="text-success">{{ policy.restriction_level }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <div class="container">
    {% if policy.devices.all %}
      <p>
        <h3 class="text-info">Device{{ policy.devices.count|pluralize }}</h3>
        {% for device in policy.devices.all %}
          <li class="text-info list-group-item list-group-item-info"> 
            Manufacturer: {{ device.manufacturer }} |
            Model: {{ device.name }}&nbsp;
              <a href="{% url 'devices:device_detail' device.slug %}" class="btn btn-info">Show</a>
          </li>
        {% endfor %}
      </p>  
    {% else %}
    <p>
      <em class="text-info">No devices have this policy...</em> 
    </p>
    {% endif %}
  </div>    
{% endblock content %}


